edge/data/flows.json
[
    {
        "id": "8aa65fcb0d20be53",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "robot_arm_flow",
        "type": "tab",
        "label": "Industrial Sensors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "inject_robot",
        "type": "inject",
        "z": "robot_arm_flow",
        "name": "Every 5s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "gen_robot_temp",
                "gen_robot_vib"
            ]
        ]
    },
    {
        "id": "inject_prensa",
        "type": "inject",
        "z": "robot_arm_flow",
        "name": "Every 5s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "gen_prensa_temp",
                "gen_prensa_vib"
            ]
        ]
    },
    {
        "id": "gen_robot_temp",
        "type": "function",
        "z": "robot_arm_flow",
        "name": "Robot Temp",
        "func": "msg.payload = {\n    machineId: 'ROBOT_ARM_01',\n    sensorType: 'temperature',\n    value: Math.random() * 20 + 80\n};\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "http_post"
            ]
        ]
    },
    {
        "id": "gen_robot_vib",
        "type": "function",
        "z": "robot_arm_flow",
        "name": "Robot Vibration",
        "func": "msg.payload = {\n    machineId: 'ROBOT_ARM_01',\n    sensorType: 'vibration',\n    value: Math.random() * 40 + 60\n};\nreturn msg;",
        "outputs": 1,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "http_post"
            ]
        ]
    },
    {
        "id": "gen_prensa_temp",
        "type": "function",
        "z": "robot_arm_flow",
        "name": "Prensa Temp",
        "func": "msg.payload = {\n    machineId: 'PRESSA_HIDRAULICA_02',\n    sensorType: 'temperature',\n    value: Math.random() * 20 + 80\n};\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 280,
        "wires": [
            [
                "http_post"
            ]
        ]
    },
    {
        "id": "gen_prensa_vib",
        "type": "function",
        "z": "robot_arm_flow",
        "name": "Prensa Vibration",
        "func": "msg.payload = {\n    machineId: 'PRESSA_HIDRAULICA_02',\n    sensorType: 'vibration',\n    value: Math.random() * 40 + 60\n};\nreturn msg;",
        "outputs": 1,
        "x": 330,
        "y": 320,
        "wires": [
            [
                "http_post"
            ]
        ]
    },
    {
        "id": "http_post",
        "type": "http request",
        "z": "robot_arm_flow",
        "name": "POST to Backend",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://backend:3000/telemetry",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 560,
        "y": 200,
        "wires": [
            [
                "debug_response"
            ]
        ]
    },
    {
        "id": "debug_response",
        "type": "debug",
        "z": "robot_arm_flow",
        "name": "API Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 780,
        "y": 200,
        "wires": []
    }
]