edge/flows-aws.json
[
    {
        "id": "aws_iot_flow",
        "type": "tab",
        "label": "AWS IoT Core (Production)",
        "disabled": false,
        "info": "## AWS IoT Core Integration\n\nThis flow publishes sensor data to AWS IoT Core via MQTT.\n\n**Setup Required:**\n1. Generate IoT certificates from AWS Console\n2. Configure MQTT broker node with:\n   - Endpoint: <your-iot-endpoint>.iot.us-east-1.amazonaws.com\n   - Port: 8883\n   - Certificates: device cert, private key, root CA\n3. Update broker configuration ID in MQTT out nodes\n\n**Data Flow:**\nTimer → Generate Sensor Data → MQTT Publish → AWS IoT Core → SQS → Lambda → DynamoDB"
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "AWS IoT Core",
        "broker": "REPLACE_WITH_IOT_ENDPOINT.iot.us-east-1.amazonaws.com",
        "port": "8883",
        "tls": "tls_config",
        "clientid": "Sentinel-Edge-Gateway-01",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "tls_config",
        "type": "tls-config",
        "name": "AWS IoT TLS",
        "cert": "/data/certs/device-certificate.pem.crt",
        "key": "/data/certs/private.pem.key",
        "ca": "/data/certs/AmazonRootCA1.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "inject_robot_aws",
        "type": "inject",
        "z": "aws_iot_flow",
        "name": "Every 10s",
        "props": [{"p": "payload"}],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [["gen_robot_temp_aws", "gen_robot_vib_aws"]]
    },
    {
        "id": "inject_prensa_aws",
        "type": "inject",
        "z": "aws_iot_flow",
        "name": "Every 10s",
        "props": [{"p": "payload"}],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 300,
        "wires": [["gen_prensa_temp_aws", "gen_prensa_vib_aws"]]
    },
    {
        "id": "gen_robot_temp_aws",
        "type": "function",
        "z": "aws_iot_flow",
        "name": "Robot Temp",
        "func": "// Generate temperature reading (80-100°C)\n// Values > 90°C trigger CRITICAL alert\nconst temp = Math.random() * 20 + 80;\n\nmsg.payload = {\n    machineId: 'ROBOT_ARM_01',\n    sensorType: 'temperature',\n    value: parseFloat(temp.toFixed(2)),\n    timestamp: new Date().toISOString()\n};\n\nmsg.topic = 'sentinel/telemetry';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 80,
        "wires": [["mqtt_publish", "debug_robot_temp"]]
    },
    {
        "id": "gen_robot_vib_aws",
        "type": "function",
        "z": "aws_iot_flow",
        "name": "Robot Vibration",
        "func": "// Generate vibration reading (60-100)\n// Values > 80 trigger WARNING alert\nconst vib = Math.random() * 40 + 60;\n\nmsg.payload = {\n    machineId: 'ROBOT_ARM_01',\n    sensorType: 'vibration',\n    value: parseFloat(vib.toFixed(2)),\n    timestamp: new Date().toISOString()\n};\n\nmsg.topic = 'sentinel/telemetry';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [["mqtt_publish", "debug_robot_vib"]]
    },
    {
        "id": "gen_prensa_temp_aws",
        "type": "function",
        "z": "aws_iot_flow",
        "name": "Prensa Temp",
        "func": "// Generate temperature reading (80-100°C)\n// Values > 90°C trigger CRITICAL alert\nconst temp = Math.random() * 20 + 80;\n\nmsg.payload = {\n    machineId: 'PRESSA_HIDRAULICA_02',\n    sensorType: 'temperature',\n    value: parseFloat(temp.toFixed(2)),\n    timestamp: new Date().toISOString()\n};\n\nmsg.topic = 'sentinel/telemetry';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 280,
        "wires": [["mqtt_publish", "debug_prensa_temp"]]
    },
    {
        "id": "gen_prensa_vib_aws",
        "type": "function",
        "z": "aws_iot_flow",
        "name": "Prensa Vibration",
        "func": "// Generate vibration reading (60-100)\n// Values > 80 trigger WARNING alert\nconst vib = Math.random() * 40 + 60;\n\nmsg.payload = {\n    machineId: 'PRESSA_HIDRAULICA_02',\n    sensorType: 'vibration',\n    value: parseFloat(vib.toFixed(2)),\n    timestamp: new Date().toISOString()\n};\n\nmsg.topic = 'sentinel/telemetry';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 320,
        "wires": [["mqtt_publish", "debug_prensa_vib"]]
    },
    {
        "id": "mqtt_publish",
        "type": "mqtt out",
        "z": "aws_iot_flow",
        "name": "Publish to IoT Core",
        "topic": "sentinel/telemetry",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "debug_robot_temp",
        "type": "debug",
        "z": "aws_iot_flow",
        "name": "Robot Temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.value",
        "statusType": "msg",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "debug_robot_vib",
        "type": "debug",
        "z": "aws_iot_flow",
        "name": "Robot Vib",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.value",
        "statusType": "msg",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "debug_prensa_temp",
        "type": "debug",
        "z": "aws_iot_flow",
        "name": "Prensa Temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.value",
        "statusType": "msg",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "debug_prensa_vib",
        "type": "debug",
        "z": "aws_iot_flow",
        "name": "Prensa Vib",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.value",
        "statusType": "msg",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "mqtt_status",
        "type": "mqtt in",
        "z": "aws_iot_flow",
        "name": "Connection Status",
        "topic": "$aws/events/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 500,
        "wires": [["debug_mqtt_status"]]
    },
    {
        "id": "debug_mqtt_status",
        "type": "debug",
        "z": "aws_iot_flow",
        "name": "MQTT Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 500,
        "wires": []
    },
    {
        "id": "http_backup_flow",
        "type": "tab",
        "label": "HTTP Backup (Local Testing)",
        "disabled": true,
        "info": "## HTTP Backup Flow\n\n**Status:** DISABLED\n\nThis is the original HTTP-based flow for local testing with Docker.\nKeep this as backup for development/testing without AWS.\n\n**To use:**\n1. Enable this tab\n2. Disable AWS IoT Core tab\n3. Ensure backend is running locally"
    },
    {
        "id": "inject_robot_http",
        "type": "inject",
        "z": "http_backup_flow",
        "name": "Every 5s",
        "props": [{"p": "payload"}],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [["gen_robot_temp_http", "gen_robot_vib_http"]]
    },
    {
        "id": "inject_prensa_http",
        "type": "inject",
        "z": "http_backup_flow",
        "name": "Every 5s",
        "props": [{"p": "payload"}],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 300,
        "wires": [["gen_prensa_temp_http", "gen_prensa_vib_http"]]
    },
    {
        "id": "gen_robot_temp_http",
        "type": "function",
        "z": "http_backup_flow",
        "name": "Robot Temp",
        "func": "msg.payload = {\n    machineId: 'ROBOT_ARM_01',\n    sensorType: 'temperature',\n    value: Math.random() * 20 + 80\n};\nmsg.headers = {'content-type': 'application/json'};\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 80,
        "wires": [["http_post"]]
    },
    {
        "id": "gen_robot_vib_http",
        "type": "function",
        "z": "http_backup_flow",
        "name": "Robot Vibration",
        "func": "msg.payload = {\n    machineId: 'ROBOT_ARM_01',\n    sensorType: 'vibration',\n    value: Math.random() * 40 + 60\n};\nreturn msg;",
        "outputs": 1,
        "x": 320,
        "y": 120,
        "wires": [["http_post"]]
    },
    {
        "id": "gen_prensa_temp_http",
        "type": "function",
        "z": "http_backup_flow",
        "name": "Prensa Temp",
        "func": "msg.payload = {\n    machineId: 'PRESSA_HIDRAULICA_02',\n    sensorType: 'temperature',\n    value: Math.random() * 20 + 80\n};\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 280,
        "wires": [["http_post"]]
    },
    {
        "id": "gen_prensa_vib_http",
        "type": "function",
        "z": "http_backup_flow",
        "name": "Prensa Vibration",
        "func": "msg.payload = {\n    machineId: 'PRESSA_HIDRAULICA_02',\n    sensorType: 'vibration',\n    value: Math.random() * 40 + 60\n};\nreturn msg;",
        "outputs": 1,
        "x": 330,
        "y": 320,
        "wires": [["http_post"]]
    },
    {
        "id": "http_post",
        "type": "http request",
        "z": "http_backup_flow",
        "name": "POST to Backend",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://sentinel-api:3000/telemetry",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 200,
        "wires": [["debug_http_response"]]
    },
    {
        "id": "debug_http_response",
        "type": "debug",
        "z": "http_backup_flow",
        "name": "API Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 200,
        "wires": []
    }
]
